<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">
    <insert id="insert" parameterType="menu">
        INSERT INTO menu (id, seller_id, name, subname, price, amount, sell_amount, discount_rate, todaysale, category, img1, img2, detail)
        VALUES (#{id}, #{seller_id}, #{name}, #{subname}, #{price}, #{amount}, #{sell_amount}, #{discount_rate}, #{todaysale},
                #{category}, #{img1}, #{img2}, #{detail})
    </insert>
    <delete id="delete" parameterType="menu">
        DELETE
        FROM menu
        WHERE id = #{id}
    </delete>
    <update id="update" parameterType="menu">
        UPDATE menu
        SET name=#{name},
            subname=#{subname},
            price=#{price},
            amount=#{amount},
            sell_amount =#{sell_amount},
            discount_rate = #{discount_rate},
            todaysale = #{todaysale},
            create_at=#{create_at},
            category=#{category},
            img1 = #{img1},
            img2 = #{img2},
            detail = #{detail}
        WHERE id = #{id}
    </update>
    <select id="getMenuInfo" parameterType="int" resultType="menu">
        SELECT detail
        FROM menu
        WHERE id = #{id};
    </select>
    <select id="getMenu" resultType="menu">
        SELECT id, name, price, amount, sell_amount, discount_rate, category, img1, img2,  seller_id, subname, create_at
        FROM menu;
    </select>
    <select id="getMenuBySeller" parameterType="String" resultType="menu">
        SELECT *
        FROM menu
        WHERE seller_id = #{seller_id}
    </select>
    <select id="getMenuByLowPrice" resultType="menu">
        SELECT *
        FROM menu
        ORDER BY price ASC
    </select>
    <select id="getMenuByHighPrice" resultType="menu">
        SELECT *
        FROM menu
        ORDER BY price DESC
    </select>
    <select id="getMenuByBest" resultType="menu">
        SELECT  id, name, price, amount, sell_amount, discount_rate, category, img1, img2,  seller_id, subname, create_at
        FROM menu
        ORDER BY sell_amount DESC LIMIT 9
    </select>
    <select id="getMenuByNew" resultType="menu">
        SELECT  id, name, price, amount, sell_amount, discount_rate, category, img1, img2,  seller_id, subname, create_at
        FROM menu where TIMESTAMPDIFF(DAY, create_at, CURDATE( ))
        ORDER BY create_at DESC
    </select>
    <select id="getMenuBySale" resultType="menu">
        SELECT id, name, price, amount, sell_amount, discount_rate, category, img1, img2,  seller_id, subname, create_at
        FROM menu
        WHERE discount_rate > 0
        ORDER BY discount_rate DESC, create_at DESC;
    </select>
    <select id="getMenuByTodaySale" resultType="menu">
        SELECT id, name, price, amount, sell_amount, discount_rate, today_discount_rate, category, img1, img2,  seller_id, subname, create_at,todaysale
        FROM menu
        WHERE todaysale is not null
        ORDER BY todaysale ASC
    </select>
    <select id="getMenuByCategory" parameterType="int" resultType="menu">
        SELECT  id, name, price, amount, sell_amount, discount_rate, category, img1, img2,  seller_id, subname, create_at
        FROM menu
        WHERE category = #{keyword}
        ORDER BY create_at DESC
    </select>
</mapper>