#header #joinInduce{
    position: relative;
    text-align: center;
    width: 100%;
    background: #92c947;
    padding:10px 0;
    box-sizing: border-box;
}

#header #joinInduce span {
    font-size: 16px;
    font-weight: 900;
    color: #3c3d3c;
}

#header #joinInduce .img1{
    padding: 0 20px;
}

#header #joinInduce span .go{
    padding-left: 10px;
}

#header #joinInduce .closeBanner{
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    right: 0;
    padding-right: 15px;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    line-height: 40px;
}

#header #joinInduce a {
    display: inline-block;
}

#header #joinInduce .closeBanner img {
    padding-left: 15px;
}

#header .inner{
    width: 100%;
    position: relative;
}

#header .inner .header_top{
    border-bottom: 1px solid #dadada;
    padding: 0 20px;
    z-index: 9;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
}
#header .inner .header_top .size{
    position: relative; 
    text-align: center; 
    padding: 20px 0;
}


#header .inner .header_top .size .search{
    position: absolute; 
    width: 280px; 
    left: 0; 
    border-bottom: 1px solid #92c947;
}
#header .inner .header_top .size .search input[type="text"]{
    width: 77%; 
    height: 45px; 
    line-height: 45px; 
    border: none; 
    font-size: 15px; 
    font-weight: 500; 
    outline: none; 
    width: 77%;
}
#header .inner .header_top .size .search input::placeholder{
    color: #92c947; 
    font-size: 14px; 
    font-weight: 400;
}
#header .inner .header_top .size .search input:-ms-input-placeholder{
    color: #92c947; 
    font-size: 14px; 
    font-weight: 400;
}
#header .inner .header_top .size .search input:-webkit-input-placeholder{
    color: #92c947; 
    font-size: 14px; 
    font-weight: 400;
}
#header .inner .header_top .size .search input[type="submit"]{
    width: 14%; 
    background: url('../../img/search.png') no-repeat center center; 
    width: 40px; 
    height: 40px; 
    background-size: 20px; 
    border: none;
    cursor: pointer;
}

#header .inner .header_top .size .util{
    position: absolute; 
    top: 50%; 
    margin-top: -17.5px; 
    right: 0; 
    z-index: 9;
}
#header .inner .header_top .size .util > ul > li{
    float: left; 
    position: relative;
}
#header .inner .header_top .size .util > ul > li a{
    display: block; 
    padding: 0 10px; 
    height: 35px; 
    line-height: 35px;
    font-size: 14px;
}
#header .inner .header_top .size .util > ul > li a span {
    color: #9fc54d;
}
#header .inner .header_top .size .util > ul > li:after{
    position: absolute; 
    content: ''; 
    width: 1px; 
    height: 12px; 
    background: #e3e3e3; 
    left: 0; 
    top: 11.5px;
}
#header .inner .header_top .size .util > ul > li:first-child:after{
    display: none;
}
#header .inner .header_top .size .util > ul > .login{
    display: none;
}

#header .inner .header_top .logo{
    display: inline-block;
}
#header .inner .header_top .logo a{
    display: block; 
    height: 77px; 
    line-height: 77px;
}
#header .inner .header_top .logo a img{
    vertical-align: top;
    height: 77px;
}

#header .inner .gnb .size .menu_all .clear ul li ul li a span{
    padding:10px;
}

#header .inner .gnb .menu_all > ul > .header_all > a{
    background: url('../../img/all.png') no-repeat 20px center; 
    font-size: 18px;
    color: #3c3d3c;
    text-align: center;
    display: block;
    font-weight: 900;
    width: 100%;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
}
#header .inner .gnb .menu_all > ul > .header_all > a:hover{
    background: url('../../img/all_over.png') no-repeat 20px center; 
    color: #9fc54d;
}

#header .inner .gnb .menu_all > ul > .header_all:hover #menu_all_sub{
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}

#menu_all_sub{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
}
#menu_all_sub li{
    width: 187.98px;
    height: 40px;
    line-height: 40px;

    background-color: #fff;
    border: 1px solid #ebebeb;
    border-bottom: none;
    padding-left: 10px;

    font-size: 16px;
}
#menu_all_sub li:last-child{
    border-bottom: 1px solid #ebebeb;
}
#menu_all_sub li:hover{
    border-left: 1px solid #9fc54d;
    color: #9fc54d;
}
#menu_all_sub li a{
    display: inline-block;
    width: 100%;
}

#header .inner .gnb {
    width: 100%; 
    height: 55px;
    background: #fff; 
    border-bottom: 1px solid #dadada;
}
#header .inner .gnb .depth1 > li{
    position: relative; 
    width: 20%; 
    float: left;  
    border-right: 1px solid #ebebeb; 
    box-sizing: border-box;
}
#header .inner .gnb .depth1 > li > a{
    font-size: 18px; 
    color: #3c3d3c; 
    text-align: center; 
    display: block; 
    font-weight: 900; 
    width: 100%; 
    height: 55px; 
    line-height: 55px;
}
#header .inner .gnb .depth2{
    display: none;
    position: absolute; 
    width: 100%; 
    left: 0; 
    background: #f7f7f6;  
    box-sizing: border-box; 
    top: 55px; 
    z-index: 9;
}
#header .inner .gnb .depth2 > li a{
    display: block; 
    height: 50px; 
    line-height: 50px; 
    padding: 0 20px; 
    box-sizing: border-box; 
    font-size: 14px;  
    color: #707070;
}

#header .header_bg{
    position: absolute; 
    width: 100%; 
    background: #f7f7f6; 
    z-index: 9;
}

#header .inner .gnb .depth1 > li a:hover{
    color: #9fc54d;
}
#header .inner .gnb .depth2 > li a:hover{color: #9fc54d;}

#header .inner .menu_all{
    border-right: 1px solid #ebebeb; 
    border-left: 1px solid #ebebeb; 
    float: left; 
    width: 16.666%; 
    box-sizing: border-box;
}
#header .inner .menu_all ul > a{
    display: block; 
    font-size: 16px; 
    color: #3c3d3c; 
    text-align: center; 
    display: block; 
    font-weight: 900; 
    width: 100%; 
    height: 55px; 
    line-height: 55px;
}
#header .inner .menu_all ul > a img{
    margin-right: 10px; 
    margin-bottom: 3px;
}
#header .inner .menu_other{
    width: 83.333%; 
    float: left;
}
