#indexBG {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../img/main_middle.png) bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
	display: block;
    z-index: -99;
}

#main_content .today_price {
	padding:60px 20px;
	box-sizing:border-box;
	background:#fff;
	height: 520px;
}
#main_content .today_price .time {
	width:17%;
	float:left;
	padding-top:30px;
}
#main_content .today_price .time>span {
	color:#3c3d3c;
	font-weight:400;
	font-size:44px;
	letter-spacing:-1.5px;
}
#main_content .today_price .time .sale {
	margin-bottom:25px;
	font-size:20px;
	color:#ff9100;
	font-weight:400;
	display:block;
	text-align:right;
}
#main_content .today_price .time .clock {
	display:block;
	width:100%;
	height:56px;
	margin-bottom:8px;
}
#main_content .today_price .time .clock span {
	float:left;
	margin-top:35px;
	color:#3c3d3c;
	font-size:14px;
}
#main_content .today_price .time .clock img {
	float:right;
	max-height:57px;
}
#main_content .today_price .time .timer ul .second {
	padding-right:0;
}
#main_content .today_price .time .timer {
	width:100%;
}
#main_content .today_price .time .timer ul li {
	float:left;
	position:relative;
	padding:0 5px;
	box-sizing:border-box;
}
#main_content .today_price .time .timer ul li:first-child {
	padding-left:0;
}
#main_content .today_price .time .timer ul li span {
	width:29px;
	height:29px;
	display:inline-block;
	background:#3c3d3c;
	line-height:30px;
	color:#fff;
	border-radius:29px;
	font-size:18px;
	font-weight:900;
	text-align:center;
	margin-left:2px;
}
#main_content .today_price .time .timer ul li span:first-child {
	margin-left:0;
}
#main_content .today_price .time .timer ul li:after {
	position:absolute;
	content:':';
	width:5px;
	height:18px;
	top:50%;
	margin-top:-9px;
	color:#3c3d3c;
	left:-2.5px;
}
#main_content .today_price .time .timer ul li:first-child:after {
	display: none;
}

#main_content .today_price .sale_product {
	float:left;
	width:78%;
	margin-left:4%;
}
#main_content .today_price .sale_product>ul {
	margin-left:-2%;
	width:102%;
}
#main_content .today_price .sale_product>ul>li {
	position:relative;
	float:left;
	width:27%;
	margin-left:6.333%;
	text-align:center;
}
#main_content .today_price .sale_product>ul>li a {
	display:block;
}
#main_content .today_price .sale_product>ul>li a .pic .pic_hover {
	max-width:100%;
	position:absolute;
	top:0;
	left:0;
	border-radius:50%;
	opacity:0;
	transition:opacity 0.4s;
}
/*#main_content .today_price .sale_product>ul>li a:hover .pic>p{opacity: 0;}*/
#main_content .today_price .sale_product>ul>li a:hover .pic .pic_hover {
	opacity:1;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}
#main_content .today_price .sale_product>ul>li a:hover .pic .pro_img {
	opacity:0;
}
/*#main_content .today_price .sale_product>ul>li .pic p.pic_hover{position:absolute;top:0;left:0;opacity: 0;}*/
/*#main_content .today_price .sale_product>ul>li .pic{overflow: hidden;}*/
#main_content .today_price .sale_product>ul>li .pic {
	position:relative;
}
#main_content .today_price .sale_product>ul>li .pic p.pro_img {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:50%;
	transition:all 0.4s ease-in-out;
}
#main_content .today_price .sale_product>ul>li .pic p.pro_img img {
	border-radius:50%;
	opacity:0;
	width:100%;
}
#main_content .today_price .sale_product>ul>li .pic p.pic_hover {
	border:1px solid #eee;
	box-sizing:border-box;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	border-radius:50%;
	transition:all 0.4s ease-in-out;
}
#main_content .today_price .sale_product>ul>li .pic p.pic_hover img {
	border-radius:50%;
	opacity:0;
	width:100%;
}
	/*#main_content .today_price .sale_product>ul>li .pic a:hover p{transform: scale(1.1);}*/
/*#main_content .today_price .sale_product>ul>li .pic p>img{opacity:0;visibility:hidden;width: 100%;}*/
/*#main_content .today_price .sale_product>ul>li .product_pic{border-radius:50%;max-width: 100%;}*/
#main_content .today_price .sale_product>ul>li .pic .today {
	position:absolute;
	top:40px;
	left:-6px;
	/*transform:translate(0,0);transition:all 0.2s ease-in-out;*/ z-index:9;
}
#main_content .today_price .sale_product>ul>li .pic .today.green span {
	font-weight:800;
}
#main_content .today_price .sale_product>ul>li .pic .today>span {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	line-height:30px;
	font-size:14px;
	color:#fff;
	font-weight:400;
}
#main_content .today_price .sale_product>ul>li .pic .today>img {
	opacity:1;
	visibility:visible;
}
/* #main_content .today_price .sale_product>ul>li a:hover .pic .today {
	transform:translate(-15px,0);
} */
/*#main_content .today_price .sale_product>ul>li .pic p:hover .today{transform: translate(-15px,0);}*/
.pro_txt {
	padding:17px 5px 20px 5px;
	box-sizing:border-box;
	text-align:center;
	word-break:keep-all;
	/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/
}
.pro_txt>p {
	word-break:keep-all;
	/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/
}
.pro_txt>p>b.p_name {
	font-size:18px;
	color:#3c3d3c;
	margin-bottom:5px;
	line-height:18px;
	height:36px;
	font-weight:800;
	display:block;
	word-break:keep-all;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
	/*overflow:hidden;text-overflow:ellipsis;white-space:nowrap;*/
}
.pro_txt>p>span.sub_title {
	font-size:16px;
	height:32px;
	display:block;
	line-height:16px;
	color:#7e7e7e;
	font-weight:400;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.section.sale_p .sale_list ul li .pro_txt>p>span.sub_title {
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
	overflow: hidden;
}
/*#main_content .sale_p .sale_list>ul>li .con .pro_txt .sub_title{}*/
.pro_txt>b {
	font-size:16px;
	font-weight:900;
	color:#3c3d3c;
	display:block;
}
/*.pro_txt .info{font-size:14px;color:#7e7e7e;font-weight:400;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}*/
.product_sale {
	display:block;
	line-height:1 !important;
	margin-top:10px;
	font-size:16px;
	color:#000;
	font-weight:400;
	position:relative;
}
/*.product_sale.per{overflow: visible;}*/
.product_sale .before_p {
	font-size:14px;
	font-weight:400;
	display:inline-block;
	text-decoration:line-through;
}
.product_sale.per b {
	font-size:20px;
	font-weight:800;
	display:inline-block;
	margin-left:10px;
}
.product_sale b {
	font-size:20px;
	font-weight:800;
	display:inline-block;
}
.product_sale .sale_per {
	font-size:20px;
	color:#ff7d00;
	font-weight:800;
	display:inline-block;
	margin-left:10px;
}
.product_sale.per b {
	overflow:visible;
}
#main_content .today_price .sale_product>ul>li p .before_p {
	font-size:14px;
	font-weight:400;
	display:inline-block;
	text-decoration:line-through;
}
#main_content .today_price .sale_product>ul>li p .sale_per {
	font-size:20px;
	color:#ff7d00;
	font-weight:800;
	display:inline-block;
	margin-left:10px;
}
#main_content .section {
	position:relative;
	text-align:center;
	padding:45px 20px;
	box-sizing:border-box;
	background: #fff;
}

#main_content .best {
	background:#f1f0ef;
	padding:45px 75px;
	height: 770px;
}
.more_bt {
	display:block;
	background:url('../../img/best_plus.png') no-repeat 35px center;
	text-align:left;
	transition:all 0.4s;
	-webkit-transition:all 0.4s;
	background-size:11px;
	width:130px;
	height:40px;
	text-indent:55px;
	border:1px solid #3c3d3c;
	font-weight:800;
	font-size:13px;
	color:#000;
	line-height:40px;
	margin:30px auto 0;
}
.more_bt:hover {
	background:#3c3d3c url('../../img/best_plus_over.png') no-repeat 35px center;
	color:#fff;
	background-size:11px;
}
/*#main_content .best .pro_txt{max-width:371px;display:block;white-space:initial;}#main_content .best .pro_txt p{white-space:initial;overflow: visible;}*/
#main_content .section_title {
	font-size:38px;
	font-weight:400;
	color:#3c3d3c;
	text-align:center;
}
#main_content .section_title b {
	font-weight:800;
}
#main_content .section_sub {
	font-size:14px;
	font-weight:400;
	color:#3c3d3c;
	margin-bottom:20px;
	word-break:keep-all;
}
#main_content .best_slide .title .pic p.pro_img {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all 0.4s ease-in-out;
	/*transform:scale(1);transition:all 0.4s ease-in-out;*//* -moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);*/
}
#main_content .best_slide a .title .pic p.pro_img img {
	opacity:0;
	width:100%;
}
#main_content .best_slide .title .pic {
	overflow:hidden;
}
#main_content .best_slide .title .pic .pic_hover {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:all 0.4s ease-in-out;
	width:100%;
}
#main_content .best_slide .title .pic .pic_hover img {
	opacity:0;
	width:100%;
}
/*#main_content .best_slide .title .pic p:first-child:hover{transform: scale(1.1);}*/
/*#main_content .best_slide .title .pic p>img{opacity:0;visibility: hidden;}*/
.best .swiper-button-prev {
	background:url('../../img/arrow_left_best.png') no-repeat center center;
	width:50px;
	height:50px;
	left:50%;
	margin-left:-700px;
	padding:0;
	box-sizing:border-box;
	outline:none;
	background-size:contain;
}
.best .swiper-button-next {
	background:url('../../img/arrow_right_best.png') no-repeat center center;
	width:50px;
	height:50px;
	right:50%;
	margin-right:-700px;
	padding:0;
	box-sizing:border-box;
	outline:none;
	background-size:contain;
}
#main_content .pro_txt.white_bg {
	background:#fff;
}
#main_content .best_slide .swiper-slide {
	width:30%;
}
#main_content .best_slide a {
	display:block;
}
/*#main_content .best_slide a .pic_img,#main_content .best_slide a .pic_hover{background-size:cover;background-repeat:no-repeat;background-position: center center;}*/
#main_content .best_slide a:hover .pro_img {
	opacity:0;
}
#main_content .best_slide a:hover .title .pic .pic_hover {
	opacity:1;
}
#main_content .best_slide .title {
	box-shadow:0 0 1px rgba(0,0,0,0.1);
	-webkit-transition:box-shadow 0.5s;
	transition:box-shadow 0.5s;
}
/*#main_content .best_slide{overflow: visible;}*/
#main_content .best_slide .title:hover {
	box-shadow:5px 5px 10px rgba(0,0,0,0.1);
}
/*#main_content .best_slide .title .pic>p{background-position:center center;background-size:cover;background-repeat: no-repeat;}*/
/*#main_content .best_slide .title .pic>p img{visibility:hidden;opacity:0;width: 100%;}*/
#main_content .best_slide .title .pic .number img {
	visibility:visible;
	opacity:1;
}
/*#main_content .best_slide .title img{max-width: 100%;}*/
#main_content .best_slide .title .icon {
	position:absolute;
	top:15px;
	right:30px;
	z-index:9;
}
#main_content .best_slide .title .other {
	position:absolute;
	top:15px;
	right:80px;
	z-index:9;
}
#main_content .best_slide .title .number {
	position:absolute;
	top:0;
	left:10px;
	z-index:9;
}
#main_content .best_slide .title .number em {
	font-size:24px;
	left:0;
	font-weight:800;
	color:#fff;
	text-align:center;
	position:absolute;
	top:5px;
	text-align:center;
	width:47px;
	margin-top:0;
}
/*#main_content .best_slide .title .tbc span{margin-top:10px;font-size:16px;color:#000;font-weight:400;display: block;}*/
/*#main_content .best_slide .title .tbc span b{font-size:20px;font-weight:800;display: inline-block;}*/

.info_icon {
	position:absolute;
	top:15px;
	right:20px;
	z-index:9
}
.info_icon>img {
	opacity:1;
	visibility:visible;
	padding-left:5px;
	float:left;
}
.info_icon>img:first-child {
	padding-left: 0;
}

#main_content .new{
	height: 682px;
}

#main_content .new .product>ul {
	width:102%;
	margin-left:-2%;
}
#main_content .new .product>ul>li {
	float:left;
	width:21%;
	margin-left:4%;
	margin-top:2%;
	overflow:hidden;
}
#main_content .new .product>ul>li a {
	display:block;
}
#main_content .new .product>ul>li a .pic {
	overflow:hidden;
}
#main_content .new .product>ul>li a .pic .pro_img {
	opacity:1;
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all 0.4s ease-in-out;
	/*transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);*/
}
#main_content .new .product>ul>li a .pic .pro_img img {
	opacity:0;
	width:100%;
}
#main_content .new .product>ul>li a .pic .pic_hover {
	opacity:0;
	position:absolute;
	max-width:100%;
	width:100%;
	top:0;
	left:0;
	transition:all 0.4s ease-in-out;
	opacity:0;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
#main_content .new .product>ul>li a .pic .pic_hover img {
	opacity:0;
	width:100%;
}
#main_content .new .product>ul>li a:hover .pic .pro_img {
	opacity:0;
}
#main_content .new .product>ul>li a:hover .pic .pic_hover {
	opacity:1;
}
#main_content .new .pic {
	position:relative;
}
/*#main_content .new .pic .pic_hover img{opacity:0;visibility: hidden;}*/
.info_icon {
	position:absolute;
	top:15px;
	right:20px;
	z-index:9
}
.info_icon>img {
	opacity:1;
	visibility:visible;
	padding-left:5px;
	float:left;
}
.info_icon>img:first-child {
	padding-left:0;
}
#main_content .new .pic .other {
	position:absolute;
	top:15px;
	right:70px;
	z-index: 9;
}

.middle_banner{
	width: 100%;
	height: 265px; 
	background-color: transparent;
	/*background-position: center bottom; background-attachment: fixed;*/
}
.middle_banner span{
	font-family: 'Damion', cursive;
	font-size: 60px; 
	display: block; 
	color: #fff; 
	text-align: center; 
	padding-top: 87.5px;
}

#main_content .sale_p{
	height: 780px;
}

#main_content .sale_p .sale_list>ul>li {
	float:left;
	width:48%;
	margin-left:2%;
	margin-top:2%;
}
#main_content .sale_p .sale_list>ul>li a {
	display:block;
	border:1px solid #e0e0dc;
}
#main_content .sale_p .sale_list>ul {
	width:102%;
	margin-left:-2%;
	margin-top:-2;
}
#main_content .sale_p .sale_list>ul>li .con .pic {
	overflow:hidden;
	float:left;
	width:44%;
}
#main_content .sale_p .sale_list>ul>li .con .pic p {
	opacity:1;
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	transition:all 0.4s ease-in-out;
}
#main_content .sale_p .sale_list>ul>li .pic {
	position:relative;
}
/*#main_content .sale_p .sale_list>ul>li .con .pic .pic_img{opacity: 1;}*/
#main_content .sale_p .sale_list>ul>li .con .pic .pic_hover {
	position:absolute;
	height:100%;
	max-width:100%;
	width:100%;
	top:0;
	left:0;
	opacity:0;
}
#main_content .sale_p .sale_list>ul>li a:hover .con .pic .pro_img {
	opacity:0;
}
#main_content .sale_p .sale_list>ul>li a:hover .con .pic .pic_hover {
	opacity:1;
}
#main_content .sale_p .sale_list>ul>li .con .pic img {
	width:100%;
	opacity:0;
	visibility:hidden;
	height:232px;
}
#main_content .sale_p .sale_list>ul>li .con .pro_txt .icon {
	position:absolute;
	top:20px;
	right:23px;
}
#main_content .sale_p .sale_list>ul>li .con .pro_txt .other {
	position:absolute;
	top:20px;
	right:72px;
}
#main_content .sale_p .sale_list>ul>li .con .pro_txt {
	position:relative;
	float:left;
	width:56%;
	text-align:left;
	padding:65px 60px 24px 25px;
	box-sizing:border-box;
}
#main_content .sale_p .sale_list>ul>li .con .pro_txt .sale.per {
	position:relative;
	margin-top:20px;
}
#main_content .sale_p .sale_list>ul>li .con .pro_txt .sale_per {
	margin-left:0;
	margin-top:0;
	font-size:40px;
	font-weight:800;
}
#main_content .sale_p .sale_list>ul>li .con .pro_txt .sale_per em {
	font-size:20px;
	font-weight:800;
}
#main_content .sale_p .sale_list>ul>li .con .pro_txt .before_p {
	position:absolute;
	top:0;
	left: 76px;
}


#sub .bbs_tab {
	text-align:center;
	margin:40px auto 30px;
	max-width:1000px;
}
#sub .bbs_tab>ul {
	display:inline-block;
	width:101%;
	margin-left:-1%;
}
#sub .bbs_tab>ul>li {
	float:left;
	margin-left:1%;
	width:19%;
	height:45px;
	line-height:45px;
}
#sub .bbs_tab>ul.itemList4 li {
	margin-left:1%;
	width:19%;
}
#sub .bbs_tab>ul.itemList5 li {
	margin-left:1%;
	width:15.6%;
}
#sub .bbs_tab>ul.itemList6 li {
	margin-left:1%;
	width:13.2%;
}
#sub .bbs_tab>ul.itemList7 li {
	margin-left:1%;
	width:11.5%;
}
#sub .bbs_tab>ul.itemList2 li {
	margin-left:1%;
	width:32.3%;
}
#sub .bbs_tab>ul.itemList3 li {
	margin-left:1%;
	width:24%;
}
#sub .bbs_tab>ul.itemList1 li {
	margin-left:1%;
	width:49%;
}
#sub .bbs_tab>ul>li a {
	display:block;
	font-size:15px;
	color:#3c3d3c;
	font-weight:400;
	border-bottom:1px solid #dadada;
}
#sub .bbs_tab>ul>li a.on {
	font-weight:900;
	color:#9fc54d;
	border-bottom:1px solid #9fc54d;
}
#sub .bbs_tab>ul>li a>img {
	display:none;
	padding-left:5px;
}
#sub .bbs_tab>ul>li a.on>img {
	display:inline-block;
}
#sub .radio_bt {
	text-align:right;
	margin-top:15px;
	margin-bottom:13px;
	padding-bottom:15px;
	border-bottom:1px solid #ebebeb;
}
#sub .radio_bt input[type='radio'] {
	display:none;
}
#sub .radio_bt input[type='radio']+label::before {
	position:absolute;
	top:50%;
	margin-top:-9px;
	content:'';
	display:inline-block;
	width:18px;
	height:18px;
	box-sizing:border-box;
	border:1px solid #dadada;
	border-radius:50%;
	left:0;
}
#sub .radio_bt input[type='radio']:checked+label::before {
	background:url('../../img/radio_check.png') no-repeat center center;
	background-size:contain;
	border:none;
	height:18px;
	width:18px;
}
#sub .radio_bt span {
	font-size:15px;
	color:#333537;
	font-weight:400;
	margin-left:30px;
}
#sub .radio_bt label {
	position:relative;
	cursor:pointer;
	margin-left:30px;
}
#sub .radio_bt .first {
	margin-left: 0;
}