<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	<typeAliases>
 		<typeAlias type="com.leeting.myapp.model.MemberDto" alias="member"></typeAlias>
 		<typeAlias type="com.leeting.myapp.model.MeetingDto" alias="meeting"></typeAlias>
 		<typeAlias type="com.leeting.myapp.model.ContentsDto" alias="contents"></typeAlias>
 	</typeAliases>
 </configuration>